.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure logo and nav links are on opposite sides */
  width: 100%; /* Take full width of navbar */
  padding: 0 24px; /* Add some horizontal padding */
  box-sizing: border-box; /* Prevent overflow issues */
}

.navbar {
  background-color: #ffffff;
  padding: 16px 0; /* Vertical padding */
  z-index: 10; /* Ensure it's above other content */
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  position: fixed; /* Stick to the top */
  top: 0;
  right: 0;
  width: 100%; /* Full width */
}

.navLinks {
  display: flex;
  gap: 32px; /* Space between each nav link */
  margin: 0;
  align-items: center; /* Center nav links vertically */
}

.logo {
  height: 80px;
  width: auto;
  flex-shrink: 0; /* Prevent the logo from shrinking */
}

@media (max-width: 991px) {
  .navbar {
    padding: 16px 16px;
  }

  .navLinks {
    display: none; /* Hidden in mobile view */
  }
}

.collapse.show .navLinks {
  display: flex;
  flex-direction: column; /* Stack links in mobile view */
  align-items: flex-start;
  gap: 16px;
}
